<!-- Store Query Modal -->
<div id="storeQueryModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Save Query</h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span3">
        <div style="padding:2px 0 2px 0;">Stored Query Key</div>
      </div>
      <div class="span8">
        <input type="text" id="storedQueryKey" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="processStoreQueryModalBtn">process...</button>
  </div>
</div>

<!-- Language Modal -->
<div id="storeQueryLanguageModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Change locale for query</h3>
  </div>
  <div class="modal-body">
    <p><select id="storeQueryLanguageSelect">

    </select></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div class="container">
  <ul id="dbmsConfigureTabs" class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab">Configuration</a></li>
    <li id="dataManagementConsole" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Operations <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#dataMapping" data-toggle="tab">Data Mapping</a></li>
      </ul>
    </li>
    <li><a href="#uninstall" data-toggle="tab">Uninstall</a></li>
  </ul>

  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="home">

      <h4>Please provide your database connection and credentials</h4>

      <div class="input-prepend">
        <span class="add-on">DBMS Type</span>
        <select id="dbmsTypeSelect" style="margin-left:5px;">
            <option value=""></option>
            <option value="mysql2">MySQL</option>
            <!--<option value="sqlite">SQLite</option>-->
            <option value="postgresql">PostgreSQL</option>
        </select>
      </div>
      <br />
      <div class="connectorContainer" id="sql" style="display:none;">
          <div class="input-prepend">
            <span class="add-on">Connection URL</span>
            <input class="span2" id="hostTxt" type="text" placeholder="host...">
          </div>
          <br />
          <div class="input-prepend">
            <span class="add-on">Connection Host</span>
            <input class="span2" id="portTxt" type="text" placeholder="port...">
          </div>
          <br />
          <div class="input-prepend">
            <span class="add-on">Database Name</span>
            <input class="span2" id="dbTxt" type="text" placeholder="database name...">
          </div>
          <br />
          <div class="input-prepend">
            <span class="add-on">Login</span>
            <input class="span2" id="userTxt" type="text" placeholder="username">
          </div>
          <br />
          <div class="input-prepend">
            <span class="add-on">Password</span>
            <input class="span2" id="passwordTxt" type="password" placeholder="password">
          </div>
          <br />
          <button type="button" id="sqlProceedBtn" class="btn btn-danger sqlProceedBtn">proceed</button>
      </div>

      <!--<div class="connectorContainer" id="sqlite" style="display:none;">
        <div class="input-prepend">
          <span class="add-on">Database</span>
          <input class="span2" id="prependedInput" type="text" placeholder="url to your sqlite db">
        </div>
        <br />
        <button type="button" id="sqliteProceedBtn" class="btn btn-danger sqlProceedBtn">proceed</button>
      </div>-->

    </div>

    <div class="tab-pane fade" id="dataMapping">

      <div class="row-fluid">
        <div class="span3">

            <label class="control-label">Stored Queries</label>
            <ul class="nav nav-tabs nav-stacked" id="storeQueryList">
              <li id="storeQueryDummy" style="display:none;"><a href="#"><input type="checkbox" style="margin:-2px 5px 0 0;" /><span></span>&nbsp;<span>(x)</span></a></li>
            </ul>

        </div>
        <div class="span9">
          <div>
              <!-- Textarea -->
              <div class="control-group">
                <label class="control-label">SQL Command</label>
                <div class="controls">
                  <textarea id="sqlQueryTxt" name="textarea" style="width:97%;height:96px;font-family:'Courier New', sans-serif;" placeholder="SQL Query here"></textarea>
                </div>
              </div>

              <!-- Button -->
              <div class="control-group">
                <div class="controls">
                  <button id="executeSqlBtn" name="singlebutton" class="btn btn-primary">test</button>
                  <button id="saveSqlBtn" name="singlebutton" class="btn btn-primary" disabled="disabled">save query</button>
                  <button id="updateSqlBtn" name="singlebutton" class="btn btn-primary" disabled="disabled" style="display:none;">update query</button>
                  <button id="localeSqlBtn" name="singlebutton" class="btn btn-primary" style="display:none;">language</button>
                </div>
              </div>
          </div>

          <div>
            <table class="table table-striped" id="resultTable">
              <thead>
              <tr>
                <!-- HEADER GOES HERE -->
              </tr>
              </thead>
              <tbody>
                <!-- BODY GOES HERE -->
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

    <div class="tab-pane fade" id="uninstall" >
      <div>
        <button id="uninstallBtn" type="button" class="btn btn-danger">Uninstall</button>
      </div>
    </div>

  </div>

</div>

<%= javascript_include_tag "alliance_dbms_plugin/configure" %>