 <div class="container">
  <div>
    <h4>Please provide your database connection and credentials</h4>

    <div class="input-prepend">
      <span class="add-on">DBMS Type</span>
      <select id="dbmsTypeSelect" style="margin-left:5px;">
        <option value=""></option>
        <option value="mysql2">MySQL</option>
        <!--<option value="sqlite">SQLite</option>-->
        <option value="postgresql">PostgreSQL</option>
      </select>
    </div>
    <br />
    <div class="connectorContainer" id="sql" style="display:none;">
      <div class="input-prepend">
        <span class="add-on">Connection URL</span>
        <input class="span2" id="hostTxt" type="text" placeholder="host...">
      </div>
      <br />
      <div class="input-prepend">
        <span class="add-on">Connection Port</span>
        <input class="span2" id="portTxt" type="text" placeholder="port...">
      </div>
      <br />
      <div class="input-prepend">
        <span class="add-on">Database Name</span>
        <input class="span2" id="dbTxt" type="text" placeholder="database name...">
      </div>
      <br />
      <div class="input-prepend">
        <span class="add-on">Login</span>
        <input class="span2" id="userTxt" type="text" placeholder="username">
      </div>
      <br />
      <div class="input-prepend">
        <span class="add-on">Password</span>
        <input class="span2" id="passwordTxt" type="password" placeholder="password">
      </div>
      <br />
      <button type="button" id="sqlProceedBtn" class="btn btn-danger sqlProceedBtn">proceed</button>
    </div>

    <!--<div class="connectorContainer" id="sqlite" style="display:none;">
      <div class="input-prepend">
        <span class="add-on">Database</span>
        <input class="span2" id="dbTxtSqlite" type="text" placeholder="url to your sqlite db">
      </div>
      <br />
      <button type="button" id="sqliteProceedBtn" class="btn btn-danger sqlProceedBtn">proceed</button>
    </div>-->
  </div>
</div>

<%= javascript_include_tag "alliance_dbms_plugin/installer" %>